<h1 id=“ranchID”> {{ranchNum}}</h1>
{{!document.getElementByID(“ranchID”).style.display = “none”; }}
{{! Path: views/viewCattle.handlebars }}
<div style=“--bs-primary: #982111;--bs-primary-rgb: 152,33,17;“>
  <header class=“masthead” style=“background-image: url(‘assets/img/intro-bg.jpg’);“>
    <div class=“intro-body”>
      <div class=“container”>
        <div class=“row”>
          <div class=“col-lg-8 mx-auto”>
            <h1 class=“brand-heading” style=“margin: 0px 0px 20px;“>CATTLE VIEW</h1>
            <h3 class=“brand-heading” style=“font-size: 20px;color: var(--bs-black);“>
              Hello {{ name }}, View Your Cattle Below</h3>
          </div>
          <table id=“cattle.DataTable” class=“table table-striped table-bordered” style=“width:100%“>
            <thead>
              <th>Tag ID</th>
              <th>Name</th>
              <th>Sex</th>
              <th>Vaccine</th>
              <th>Father ID</th>
              <th>Mother ID</th>
              <th>Birthday</th>
              <th>Current Location</th>
              <th>Notes</th>
            </thead>
            <tbody>
              {{#each cattle.Data as |row|}}
              {{#each-in row as |key value|}}
              <tr>
                <td>{{tagID}}</td>
                <td>{{name}}</td>
                <td>{{sex}}</td>
                <td>{{vaccine}}</td>
                <td>{{fatherID}}</td>
                <td>{{motherID}}</td>
                <td>{{birthday}}</td>
                <td>{{currentLocation}}</td>
                <td>{{notes}}</td>
              </tr>
              {{/each-in}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
</header>
</div>