<h1 id="ranchID"> {{ranchNum}}</h1>


{{! Path: views/viewCattle.handlebars }}

<div style="--bs-primary: #982111;--bs-primary-rgb: 152,33,17;">
    <header
    class="masthead"
    style="background-image: url('assets/img/intro-bg.jpg');">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="brand-heading" style="margin: 0px 0px 20px;">View Cattle</h1>
            <h3
              class="brand-heading"
              style="font-size: 20px;color: var(--bs-black);">
            Hello {{ name }}, View Your Cattle Below</h3>
            </div>
            <input type="text" id="searchInput" onkeyup="searchLocation()" placeholder="Search by Location" style="background-color:rgb(47, 79, 79);width:100%;border-radius:3px;font-family:lora">
            <table id="cattle.DataTable" class=“table table-striped table-bordered” style='width:100%;background-color:rgba(255, 255, 255, 0.513);border-radius:3px'>
              <thead>
                <th>Tag ID</th>
                <th>Name</th>
                <th>Sex</th>
                <th>Vaccinated</th>
                <th>Father Tag ID</th>
                <th>Mother Tag ID</th>
                <th>Birthday</th>
                <th>Current Location</th>
                <th>Notes</th>
              </thead>
                <tbody>
                    {{#each prettycows}}
                    <tr>
                        <td>{{tagID}}</td>
                        <td>{{name}}</td>
                        <td>{{sex}}</td>
                        <td>{{vaccine}}</td>
                        <td>{{fatherID}}</td>
                        <td>{{motherID}}</td>
                        <td>{{birthday}}</td>
                        <td>{{currentLocation}}</td>
                        <td>{{notes}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>  
            </div>
        </div>
        <div class="row d-flex" style="justify-content: center">
                <div class="btn-group m-3 p-3 w-25" role="group" style="border:black; background-color: #982111">
                  <a style="color: white; text-align: center" href="/addCattle">ADD LIVESTOCK</a>
                </div>
              </div>
    </div>
    </div>
  </header>
</div>

<script src="/js/viewCattle.js"></script>